<div class="card-product">
  <% @buddies.each do |buddy| %>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= buddy.first_name %></h2>
      <p><%= buddy.golf_course.name %></p>
    </div>
  <% end %>
</div>
