.buddy-info {
  display: flex;
  justify-content: center;
}

.buddy-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.buddy-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}

.course-info {
  display: flex;
}

.course-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.course-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}

.api-info {
  display: flex;
}

.api-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.api-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}

.review-info {
  display: flex;
}

.review-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.review-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}

.stick-info {
  display: flex;
}

.stick-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.stick-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}

.merch-info {
  display: flex;
}

.merch-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.merch-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}
