//buddies

.buddy-info {
  display: flex;
  justify-content: center;
}

.buddy-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
  margin-bottom: 50px;
}

.buddy-info-title:hover {
  color: green;
  cursor: pointer;
}

.buddy-info-title a {
  text-decoration: none;
}


.buddy-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 200px;
}

.buddy-pic {
  height: 350px;
  width: 350px;
  margin: auto;
  box-shadow: 0 4px 8px 0 grey,
  0 6px 20px 0 grey;
  border-radius: 25px;
}

.buddy-pic-title-container {
  display: grid;
  justify-content: center;
}

// courses

.course-info {
  display: grid;
  width: 50%;
  margin-top: 50px;
}

.course-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 150px;
}

.course-info-title:hover {
  color: green;
  cursor: pointer;
}

.course-info-title a {
  text-decoration: none;
}

.course-description {
  font-size: 30px;
  color: #9ba4af;
  margin-left: 150px;
  margin-top: -200px;
  width: 30%;
}

.course-pic-title-container {
  display: flex;
}

.course-pic {
  height: 500px;
  width: 500px;
  margin-left: 400px;
  box-shadow: 0 4px 8px 0 grey,
  0 6px 20px 0 grey;
  border-radius: 25px;
}

//api

.api-info {
  display: flex;
}

.api-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.api-info-title:hover {
  color: green;
  cursor: pointer;
}

.api-info-title a {
  text-decoration: none;
}

.api-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}

.api-pic {
  height: 300px;
  width: 300px;
  margin-left: 400px;
  box-shadow: 0 4px 8px 0 grey,
  0 6px 20px 0 grey;
  border-radius: 25px;
  margin: auto;
  margin-left: 50px;
}

.api-pic-title-container {
  display: grid;
}

//reviews

.review-info {
  display: flex;
}

.review-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.review-info-title:hover {
  color: green;
  cursor: pointer;
}

.review-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}

.review-pic-description-container {
  display: grid;
}

.review-pic {
  height: 350px;
  width: 500px;
  box-shadow: 0 4px 8px 0 grey,
  0 6px 20px 0 grey;
  border-radius: 25px;
  margin: auto;
}



//sticks

.github-info {
  display: flex;
  align-items: center;
}

.github-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin: 150px;
}

.github-info-title:hover {
  color: green;
  cursor: pointer;
}

.github-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 150px;
}

//merch

.merch-info {
  display: flex;
  margin-top: 150px;
  margin-right: 50px;
  margin-bottom: 100px
}

.merch-info-title {
  font-size: 50px;
  color: #ffff;
  font-weight: bold;
  margin-left: 150px;
}

.merch-info-title:hover {
  color: green;
  cursor: pointer;
}

.merch-description {
  font-size: 30px;
  color: #9ba4af;
  margin: 50px 0px 150px 150px;
}

.merch-pic {
  height: 450px;
  width: 300px;
  box-shadow: 0 4px 8px 0 grey,
  0 6px 20px 0 grey;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 150px;
  margin-top: -150px;
}

.merch-pic-description-container {
  display: grid;
}

.course-title:hover {
  color: green;
  cursor: pointer;
}
