<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Created with Ruby on Rails & React.JS and some other stuff to add onto. Need to get back into this project.! Playing here. Adding more things for some fun later. Im trying here. You are doing better. Nice work!
  </div>
</div>
