<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/m-cwalina/GolfBerlin"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/matthew-cwalina/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Created with Ruby on Rails & React.js Lets go baby! One more time. Trying to commit something to github. Testing. Keep going Matt!. You got this
  </div>
</div>
