<!-- Top navigation -->
<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
    <a href="#home" class="active">Home</a>
  </div>

  <!-- Left-aligned links (default) -->
  <a href="#news">Buddies</a>
  <a href="#contact">Courses</a>

  <!-- Right-aligned links -->
  <div class="topnav-right">
    <a href="#search">Contact</a>
    <a href="#about">Sign In</a>
  </div>

</div>
