<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1571940205525-2d48d9f1f8d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);">
  <div class="container">
    <h1>Play golf with anyone, anytime, anywhere</h1>
    <p>Find your golf buddies today. Never play alone again</p>
    <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to "Sign Up",  new_user_registration_path %></button>
  </div>
</div>

<div class="buddy-info">
  <div class="buddy-pic-title-container">
    <div class="buddy-info-title"><%= link_to "Buddies", buddies_path %></div>
    <img class="buddy-pic" src="https://images.unsplash.com/photo-1623113807896-3b3a7fc2aec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80">
  </div>
  <div class="buddy-description">
    <p>Don't every play alone again. Find a golf buddy that has a similar handicap as you, or around your age. Use our app and find that perfect golf partner today.</p>
  </div>
</div>

<div class="course-info">
  <div class="course-pic-description-container">
    <div class="course-info-title"><%= link_to "Courses", golf_courses_path %></div>
    <img class="course-pic" src="https://images.unsplash.com/photo-1543105177-748ceda71741?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80">
  </div>
  <div class="course-description">
    <p>Find a course you want to play. Grab your buddy and head to the links!</p>
  </div>
</div>

<div class="api-info">
  <div class="api-pic-description-container">
    <div class="api-info-title"><%= link_to "API", api_v1_buddies_index_path %></div>
    <img class="api-pic" src="https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2848&q=80">
  </div>
  <div class="api-description">
    <p>An API created to connect the Ruby on Rails Backend to the React frontend</p>
  </div>
</div>

<div class="review-info">
  <div class="review-info-title">Reviews</div>
  <div class="review-pic-description-container">
    <div class="review-description">
      <p>Find reviews about which courses are best and what shape they are in</p>
    </div>
    <img class="review-pic" src="https://images.unsplash.com/photo-1509586721451-a990371f8243?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1922&q=80">
  </div>
</div>

<div class="stick-info">
  <div class="stick-info-title">Sticks</div>
  <div class="stick-description">
    <p>Find the equipment you want and how you want</p>
  </div>
</div>

<div class="merch-info">
  <div class="merch-info-title">Merch</div>
  <div class="merch-pic-description-container">
    <div class="merch-description">
      <p>Look at the latest trends and styles.</p>
    </div>
    <img class="merch-pic" src="https://images.unsplash.com/photo-1592919505780-303950717480?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80">
  </div>
</div>
