/* Search Bar area */

.searchArea {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
}

.searchArea input {
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 30px;
  width: 50px;
  background-color: white;
  display: flex;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}

a {
  text-decoration: none;
}

.searchBar {
  justify-content: center;
  display: flex;
  text-align: center;
  margin: auto;
}

#clearBtn {
  cursor: pointer;
}

/* Tiles that show up after search */

.tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-self: center;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 240px;
  max-width: 300px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
  border-radius: 8px;
  overflow: hidden;
}


.Buddy-List {
  margin-bottom: 150px;
}

/* Map for the course section */

.map {
  margin-bottom: 150px;
}

.Bottom-Scene {
  display: flex;
}

.Right-Scene {
  width: 60%;
}

.Left-Scene {
  width: 40%;
}
