/* Search Bar area */

.searchArea {
  margin-top: 200px;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
}

.searchArea input {
  background-color: #ffffff;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 400px;
}

.searchIcon {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  display: flex;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}

a {
  color: inherit;
}

.searchBar {
  justify-content: center;
  display: flex;
  text-align: center;
  margin: auto;
}

#clearBtn {
  cursor: pointer;
}

/* Tiles for buddies that show up after search */

.buddy-tiles {
  display: inline-grid;
  align-self: center;
  margin: 10px;
}

.buddy-tile {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  backdrop-filter: blur(15px);
  min-height: 240px;
  max-width: 200px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
  0 3px 6px 0 rgba(25, 32, 36, 0.16);
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin: auto;
}

.Buddy-List {
  margin-bottom: 150px;
  margin-left: 50px;
}

.tile-border {
  border: solid 2px green;
}

.extra-tile-info {
  margin: auto;
}

.buddy-tile-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.buddy-name {
  font-weight: bold;
  font-size: 20px;
}

/* Map for the course section */

.map {
  margin-bottom: 170px;
}

.Bottom-Scene {
  display: flex;
  margin-bottom: 150px;
}

.Right-Scene {
  height: 100vh;
  width: 40%;
  height: 100vh;
  position: sticky;
  /* !important to override Gmaps inline CSS */
  top: 0;
  margin-bottom: 20px;
}

.Left-Scene {
  width: 50%;
}

.course-tiles {
  display: inline-grid;
  gap: 10px;
  align-self: center;
}

.course-tile {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 240px;
  max-width: 200px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
  border-radius: 8px;
  overflow: hidden;
  margin-left: 20px;
  width: 150px;
  margin-bottom: 15px;
}

.logo {
  height: 140px;
  width: 140px;
  margin: auto;
}

.course-title {
  margin: auto;
  font-weight: bold;
  text-decoration: none !important;
}

.course-title:hover {
  color: green;
  cursor: pointer;
}
