.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-lewagon .nav-link {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
}
